.footer{
  width: 100%;
  background-color: #0A2850;

  position: relative;
  overflow: hidden;

}

.footer__content{
  display: flex;
  justify-content: space-between;
  align-items: start;


  margin-top: 60px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 108px;
}

.footer__circle{
  background-color: #2F80ED;
  width: 340px;
  height: 340px;

  position: absolute;
  left:-44px;
  top:-128px;

  border-radius: 50%;
  z-index: 0;

}

.footer__logo{
  width: 105px;
  height: 39px;

  z-index: 1;
}

.footer__social{
  display: flex;
  flex-direction:column;
  align-items: end;
}

.footer__social-heading{
  margin: 0;

  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}


.footer__list{
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: end;


  list-style: none;
}

.footer__list-item{
  display: flex;
  align-items: center;
  gap: 10px;

  color: #ffffff;
  font-weight:normal;
  font-size: 16px;
  line-height: 20px;
}

.footer__social-link{
  display: flex;
  align-items: center;
}

.footer__copyright{
  margin-left: 80px;
  margin-bottom:60px;

  color: #ffffff;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}