.header{
  background-color:#FFFFFF;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  position: relative;

  width: 100%;
  max-width: 100%;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;

  margin-left: auto;
  margin-right: auto;

  overflow: hidden;
}