.nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 30px;
}

.nav__logo{
  width: 105px;
  height: 39px;

  position: relative;
  left: 30px;
}

.nav__links{
  display: flex;
  gap: 20px;

  padding-right: 80px;

  list-style: none;
}

.nav__link{
  color: #000000;

  font-style: normal;
  font-weight: 500;

  line-height: 20px;
}

.nav__link:hover{
  opacity: 0.7;
}